.log{background-color: indigo;
background-size: 4200px;
background-image: url(../bruuh.jpg);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
.search{background-size: 1000px;}
.login{background-size: 200cm;}
.butt{background-color: blueviolet;}
.sect{text-align: center;}
